body {
	background-image: url("../img/bg.png");
	background-color: #D3D3D3;
}
i.fas {
	font-family: fontawesome;
	padding-right: 10px;
	text-align: left;
}
h3 {
	padding: 15px 0;
}
ul {
	margin: 0;
}
ul li {
	font-size: 18px;
	list-style: none;
}
.container, .container-fluid {
	background: #fff;
}
.custom-logo {
	max-height: 120px;
	padding-left: 10px;
	width: auto;
}
.homepage .contact{
	padding: 0 10px;
	text-align: right;
}
.contact{
	padding: 30px 10px;
	text-align: right;
}
.contact a{
	color: #111111;
	text-decoration: none;
}
.contact i{
	padding: 0 5px 0 20px;
}
.main-container {
	min-height: 500px;
}
.main-container {
	padding: 20px 30px;
}
.banner img{
	padding: 0 10px 5px;
	width: 100%;
}
.homepage .entry-content {
	margin: 0;
}
.entry-content {
	padding: 0 10px;
}
.post, .page {
	margin: 0;
}
.main-menu {
	margin: 20px 10px;
}
#site-navigation 
{ 
	background: #0354CD;
}
#site-navigation a
{ 
	color: #FFFFFF;
	padding: 10px;
}
.sub-menu {
	background: #0354CD;
}
.form {
	background: #D3D3D3;
	padding: 20px 30px;
}
.form h4, .form h5{
	background: #1B3246;
	color: #ffffff;
	margin-bottom: 20px;
	padding: 14px;
}
#footer {
	background-color: #F1F1F1;
	border-top: 2px solid #DDDDDD;
	padding: 20px;
}
.ehllogo {
	clear: both;
	overflow: hidden;
	width: 80px;
}