body {
	background-image: url("../img/bg.png");
	background-color: #D3D3D3;
}
i.fas {
	font-family: fontawesome;
	padding-right: 10px;
	text-align: left;
}
.homepage h3 {
	padding: 15px 0;
}
.homepage ul {
	margin: 0;
}
.homepage ul li {
	font-size: 18px;
	list-style: none;
}
.container, .container-fluid {
	background: #fff;
}
.custom-logo {
	max-height: 120px;
	padding-left: 10px;
	width: auto;
}
.contact{
	padding: 30px 10px;
	text-align: right;
}
.contact a{
	color: #111111;
	text-decoration: none;
}
.contact i{
	padding: 0 5px 0 20px;
}
.homepage .main-container {
	padding: 20px 30px;
}
.banner img{
	width: 100%;
}
.homepage .entry-content {
	padding: 0 10px;
}
.post, .page {
	margin: 0;
}
.homepage form {
	background: #D3D3D3;
	padding: 20px 30px;
}
.homepage .form h4{
	background: #1B3246;
	color: #ffffff;
	margin-bottom: 0;
	padding: 20px;
}
#footer {
	background-color: #F1F1F1;
	border-top: 2px solid #DDDDDD;
	padding: 20px;
}